.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #2e132c;
}
.centered {
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.btn-login {
  max-width: 240px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login,
.tweet-form {
  align-items: flex-end;
  background-color: #ccc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.02),
    0px 1px 1px 0px rgba(0, 0, 0, 0.02), 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  margin: 0 auto 24px;
  max-width: 480px;
  padding: 4px 8px;
  background-color: #150714;
}

.tweet-form textarea,
.tweet-form input {
  background-color: transparent;
  border: 2px solid #2e132c;
  display: block;
}

.tweet-form textarea:focus,
.tweet-form input:focus {
  background-color: #2e132c;
  color: white;
}

.tweet-form textarea {
  margin: 4px auto;
  min-height: 100px;
  width: 100%;
}

.tweet-form input,
.btn-tweet {
  margin-bottom: 4px;
  margin-top: 4px;
  width: 240px;
}
.delete {
  border-radius: 100%;
  border: none;
  color: white;
  cursor: pointer;
  height: 24px;
  margin-left: 5px;
  padding: 5px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  z-index: 2;
}
section.favs {
  margin: 0 auto;
  max-width: 400px;
  height: 90px;
  background-color: #2e132c;

  padding-right: 100px;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.02),
    0px 1px 1px 0px rgba(0, 0, 0, 0.02), 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: flex-start;
}
.btn-favs {
  position: absolute;
  left: 50%;
  right: 0%;
  top: 22.86%;
  bottom: 22.86%;

  font-family: "Silkscreen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.333333px;
  cursor: pointer;

  color: #150714;
}
.btn-feed {
  position: absolute;
  left: 0%;
  right: 50%;
  top: 22.86%;
  bottom: 22.86%;

  font-family: "Silkscreen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.333333px;
  cursor: pointer;
  color: #60265b;
}
section.tweets {
  margin: 0 auto;
  max-width: 480px;
}

.tweet {
  background-color: #2e132c;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.02),
    0px 1px 1px 0px rgba(0, 0, 0, 0.02), 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  margin: 4px auto 12px;
  padding: 4px 62px 4px 8px;
  position: relative;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.tweet .tweet-content {
  text-align: left;
  flex-basis: 85%;
  padding: 4px 8px;
}

.tweet .tweet-content p {
  border-bottom: 1px solid #b2b2b2;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.btn-login {
  max-width: 240px;
}
.likes img {
  height: 20px;
}

.likes {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 5px;
  position: absolute;
  right: 30px;
}
.welcome {
  position: absolute;
  width: 60%;
  height: 100px;
  color: white;
  font-family: "Silkscreen";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
}

.home {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background: #2e132c;
}
.imglogo {
  height: 208.72727966308594px;
  width: 313.33331298828125px;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
