body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.delete {
  position: absolute;
}

.tweet .tweet-content {
  text-align: left;
  flex-basis: 85%;
  padding: 4px 8px;
}
.tweet .tweet-content p {
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.likes img {
  height: 20px;
}

.likes {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-login {
  max-width: 30%;
}
.login {
  max-width: 30%;
  align-items: center;
  position: absolute;
  width: 1440px;
  height: 218px;
  left: calc(50% - 1440px / 2);
  top: 52px;

  background: #150714;
}

.header {
}
